.navbar-brand {
    font-size: 2rem;
}

.navbar-nav {
    font-size: 2rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}



img {
    width: 48px;
}

footer {
    margin-top: 2em;
}
